

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



html {

font-size: 1.2rem;
line-height: 1.0;

/*  font-size:clamp( 20px, calc(2vw + 8px), 30px )  */

}
.slickPage {
    width: 100%;
}
.infobar {
display: flex; flex-direction: row; align-items: end; border-bottom: 5px solid black;
padding: 0; margin: 0;
}
.userimagename {
    padding: 0; margin: 0; width: 8em; display: inline; float: left;
}
ul.slickDots li{
    color: red;
}
ul.slickDots li .slick-active{
    color: blue;
}

.dataviewlist {
 box-shadow:
    inset 2px 2px 0.45em 0.15em rgb(25 60 90 / 70% ),
    inset 4px 5px 0.8em 2.5em rgb(25 50 60 / 6% );
 padding: 0.22em; margin: 0.5em; margin-top: 0.05em;
 background-color: rgb(50 45 65 / 8%);
 max-height: 66vh; overflow-y: auto;
}
h1 {
    font-size: clamp( 36px, calc(2vw + 1em), 64px );
}
h2 {
    font-size: clamp( 24px, calc(1.66vw + 1em), 50px );
}
h3 {
    font-size: clamp( 20px, calc(0.8vw + 1em), 42px );
}
h4 {
    font-size: clamp( 18px, calc(0.8vw + 1em), 36px );
}
h5 {
    font-size: clamp( 17px, calc(0.5vw + 1em), 24px );
}
h6 {
    font-size: clamp( 16px, calc(0.4vw + 1em), 20px );
}

button {
    font-size: 1.33rem;
    padding: 1.33vw;
    margin: 0.33vw;

}



body {
    margin: 0;
    max-width: 666px;
    padding: 0.66vw;
}

h2, h3 {

    margin-block-start: 0.35em;
    margin-block-end: 0.2em;

    margin-left:    0.8vw;
}
h5, h6, h4 {

    margin-block-start: 0.1em;
    margin-block-end: 0;

    margin-left:    0.6vw;
}

figure {
  float: left;
  width: 35%;
  text-align: center;
  font-style: italic;
  border: thin black solid;
  margin: 0;
  padding: 0;
}
.errorMessage {
    color: red;
    font-weight: bold;
    font-size: 1.15em;
}

div{
    margin: 0.2vw;
    padding: 0.1vw;
}

.loginDiv  {
    border: 1px solid black;
}

small {
    font-family: Times;
    font-size: 55%;
    font-style: italic;

    margin-left: 1em;
}

button {

}

li {
    float: right;
    font-size: smaller;
}

.profileImage {

    width: 7.5em;

    min-width: 5vw;
    max-width: 33vw;

    height: auto;

    margin: -1vw;
    margin-left:    1vw; /* to match the display name */
    margin-b: -1vw;

    padding: 0;
    margin-bottom: inherit;
}
.card span {
    pointer-events: none;
}
.card span,
card i {
    pointer-events: none;
}


.card {
    margin: 0;  margin-top: 0.15em; margin-bottom: 0.15em; padding: 0.2em; border: 0.1em solid rgba(11,11,22,0.8);
    overflow: clip;
    background-color: rgba(255,255,251,0.2s);
    box-shadow:
        2px 2px 1px 1px rgba(11,11,11,0.25),
        inset 3px 2px 0 3px rgba(254,255,251,0.1),
        inset 8px 7px 1px 9px rgba(254,255,251,0.3);
}
.card .cardTitle {

     letter-spacing: -0.015em;

    white-space: nowrap; font-weight:bold;  max-width: 85%;  text-overflow: ellipsis;  overflow-x: scroll;
    text-shadow: 1px 1px 0 rgba(1,1,1,0.36);

    text-decoration-line: underline;
    text-decoration-color: rgba(55,38,69,0.8);

}
.card:hover,
.card:focus,
.card:active {
    background-color: rgba(44,55,88,0.11);

}

.card .cardSubTitle {
    float:right; text-align: right; font-size: 0.7em; white-space: nowrap;
}


.card .cardDetail b {
    color: #262226;
    margin-right: 3px;
    font-size: 1.05em;
}



.card .cardDetail {
        color: #423842;
        letter-spacing: -0.08em;
        font-size: 0.62em;

        margin-left: 1em;
        font-family:  "Montserrat", serif ;

    text-overflow: ellipsis;




}




/*
body {
  background: linear-gradient(-46deg, #96dd7d, #a5e38f );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
*/