body {

    width: 98.5vw;
    height: 97.5vh;

    margin-left: 0.3vw;
    margin-right: 0.3vw;
    margin-bottom: 0.8vh;
    margin-top: 0.85vh;

    min-width: 250px;
    max-width: 525px;

    border: 1px solid black;
    box-shadow: inset -1px 1px 3px 5px rgba(0,0,0,0.5);

    background-color: #011818
    color: #F5C1D5;

    padding-right: 1vw;

    text-align: center;

    font-size: 128%;

    font-family: "Brush Script MT";


}

b { color: #EB93B5; }

.bankLabel {

    text-decoration: underline;
    font-weight: lighter;
    font-style: italic;
    font-size: 1.7vw;
    color: rgba(35,30,30,0.8);
    letter-spacing: 0.2vw;
    font-family: cursive;
    margin: none;
    text-align: center;
/*    margin-bottom: -0.85vh;
    margin-right: 10%;
*/




}


.base {

width: 100%;
height: 100%;
overflow-y: scroll;
    margin: auto;


}

p {
    margin: 0.4vh;
}
 h1,  h2,  h3,  h4,  h5,  h6 {
    margin-top: 0.2px;
}




.imageBoxDIV {

    width: 88%;
    height: 55%;

    border: 4px solid rgba(0,0,0,0.8);
    box-shadow: 2px 2px 1px 1px rgba(10,10,10,0.35);

    margin: auto;
    margin-bottom: 6px;
    margin-top: 3px;
}

.imageBoxDIV img {
    width: 96%;
    height: 83%;
    margin-top: 1%;
    border: 1px dotted rgba(0,0,0,0.5)
}


.gameMenuDIV {
    width: 99%;
    max-width: 107%;
    text-align: center;
    padding: 1%;
    border: 1px solid gray;
        margin-top: 6.5%;
        margin-bottom: -2vh;
}

.gameMenuDIV button {
    font-size: 112%;

    font-weight: bold;
    margin: 3%;

background-color: rgba(50,5,90,0.5);

    box-shadow: 3px 3px 4px 4px rgba(35,45,65,0.45);


    cursor: pointer;



    color: rgba(39, 37, 43, 0.9);
    border: 2px dotted gray;
    padding: 2.5%;
    border-radius: 18px;

    font-family: "Brush Script MT", cursive;
    font-variant: small-caps;

    width: 26%;

    float: left;


}
.gameMenuDIV button:hover {
    box-shadow: inset 2px 2px 2px 2px rgba(25,25,35,0.27);
}
.gameMenuDIV button:active {
    box-shadow: inset 3px 3px 3px 3px rgba(25,25,25,0.55);
    background-color: rgba(150,8,100,0.55);
    text-decoration: underline;

}

.wordBankUL {


    min-width: 20%;
    max-width: 37%;




    min-height: 20vh;
    max-height: 50vh;
    overflow-y: auto;
    scrollbar-width: thin;


    text-align: start;

    padding: 1.25%;
    padding-left: 2%;
    padding-right: 4%;

    margin: auto;
    margin-top: 12vh;
    margin-bottom: 0.5%;

font-family: "Brush Script MT", cursive;
    font-variant: small-caps;



    border: 1px dotted rgba(30,30,30,0.75);
    box-shadow: inset 1px 1px 2px 2px rgba(30,30,30,0.55);
    background-color: rgba(10,15,35,0.3);

}








.wordLI {

    scrollbar-width: thin;

    list-style-type: none;

    margin: auto;
    margin-top: 6%;
    margin-bottom: 6%;

    padding: 10%;

    border: 1px solid rgb(0,0,55);

    box-shadow: 3px 2px 2px 3px rgba(12,23,38,0.33);
    background-color: rgba(60, 75, 75, 0.25);

    line-height: 90%;

    cursor: pointer;


}
        .wordLI:hover {
            background-color: rgba(149, 186, 200, 0.8);
            box-shadow: inset 1px 1px 1px 2px rgba(0,0,0,0.4);
        }
        .wordLI:active {
            background-color: rgba(18, 83, 124, 0.95);
            color: aliceblue;
            box-shadow: inset 1px 1px 1px 2px rgba(0,0,0,0.55);
        }











.selectedWordsDIV {
    display: block;
        font-family: "Brush Script MT", cursive;
        font-variant: small-caps;

}



.selectedWordH {

font-size: 5vw;

    min-width: 20%;
    max-width: 70%;

    display: inline;
    margin:auto;


}

.cursive {
    font-family: cursive;
    margin: 0;
    font-style: italic;
    font-size: 100%;
    line-height: 90%;
    margin-left: 12%;
}














@media (min-width: 480px) {
  .selectedWordH {
    font-size: 4vh;
  }
  .base {
    font-size: 110%;
  }
}

/*
  @media (min-width: 675px) {
    .selectedWordsDIV {
      font-size: 75%;
    }}
*/
